<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="mt-5">Username: {{u.username}}</div>
        <div class="mt-5">Email: {{u.email}} </div>
        <div class="mt-5">Firstname:{{u.first_name}} </div>
        <div class="mt-5">Lastname: {{u.last_name}} </div>
        <div class="mt-5">Contactno: {{u.mobile}} </div>
        <div class="mt-5">Address:  {{u.address}} </div>

    </body>
</html>